<div class="container p-4">
    <h2 style="text-align: center;">Actualizar Productos</h2>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="POST" autocomplete="off"  >
                     
                        <div class="mb-3">
                            <label for="id">Id</label>
                            <input type="text" class="form-control" id="id" name="id" disabled value="{{pr.idproducto}}"
                                aria-autocomplete="none">
                        </div>
                        <div class="mb-3">
                            <label for="Nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="Nombre"  value="{{pr.nombre}}">
                        </div>
                        <div class="mb-3">
                            <label for="Codigo">categoria</label>
                            <input type="text" class="form-control" name="categoria" placeholder="Codigo de Barra" value="{{pr.categoria}}">
                        </div>
                        
                        <div class="mb-3">
                            <label for="Descripcion">Sub Categoria</label>
                            <input type="text" class="form-control" name="subcategoria" placeholder="Descripción" value="{{pr.sub_categoria}}">
                        </div>
                        <div class="mb-3">
                            <label for="Gramage">Precio</label>
                            <input type="number" class="form-control" name="precio" placeholder="Gramaje" value="{{pr.precio}}">
                        </div>
                         <div class="mb-3">
                            <label for="Gramage">Descuento</label>
                            <input type="text" class="form-control" name="valordescuento" placeholder="Gramaje" value="{{pr.valor_descuento}}">
                        </div>
                         <div hidden class="mb-3">
                            <label for="Gramage">Gramaje</label>
                            <input type="text" class="form-control" name="iddescuento" placeholder="Gramaje" value="{{pr.iddescuento}}">
                        </div>
                         
                      
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">
                                Actualizar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



